*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#d8dde3;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.logo img{
    width:180px;
    margin-bottom:18px;
}

.login-card{

    width:430px;

    background:#f7f7f7;

    border-radius:25px;

    padding:28px 32px;

    box-shadow:
            0 10px 20px rgba(0,0,0,.15);

    display:flex;
    flex-direction:column;

    gap:12px;
}

.input-box{

    height:42px;

    border:none;

    border-radius:12px;

    outline:none;

    padding:0 15px;

    background:white;

    font-size:14px;

    box-shadow:
            inset 0 1px 3px rgba(0,0,0,.1);
}

.login-btn{

    margin-top:20px;

    height:50px;

    border:none;

    border-radius:12px;

    background:#E31E24;

    color:white;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.login-btn:hover{
    background:#c8171d;
}

.footer{

    margin-top:20px;

    color:#666;

    text-align:center;

    font-size:13px;

    line-height:20px;
}